---
# To edit the feature_row, see:
# https://mmistakes.github.io/minimal-mistakes/docs/helpers/#feature-row
# An example:
# https://mmistakes.github.io/minimal-mistakes/splash-page/
layout: splash
author_profile: true
portfolio_row:
  - image_path: /assets/images/portfolio/ironsight/ironsight_shoulder_square.JPG
    url: "/portfolio/"
    title: "Digital Portfolio"
    excerpt: 'My projects in robotics software & hardware, additive & traditional manufacturing, and control systems.'
    btn_label: "Read More"
    btn_class: "btn--inverse"
blog_row:
  - image_path: /assets/images/blog/castillo_de_chapultepec_square.resized.jpg
    url: "/posts/"
    title: "Blog"
    excerpt: "A collection of posts and quotes on music, engineering, and life."
    btn_label: "Read More"
    btn_class: "btn--inverse"
---
{% include feature_row id="portfolio_row" type="left" %}
{% include feature_row id="blog_row" type="left" %}
